<div class="container" *ngIf="prod$ | async as dts; else loading">
  <br>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="box__img__product">
        <div class="imgProduct__pronostico">
          <div class="img">
            <img [src]="dts.imgProd" alt="">
          </div>
          <div class="pronostico">
            <p><b>Nota*:</b> Para generar una ganancia, la venta del producto deberá ser mayor al precio minimo.</p>
            <mat-chip selected class="infoPronostico">
              Minimo precio de venta S/. {{(dts.gastoCompra) / (dts.totalProd ) | number: '.2-2'}}
            </mat-chip>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="box__data__container">
        <h1 class="nameProd__h1">{{dts.nameProd}}</h1>
        <p class="description__p">{{dts.descriptionProd}}</p>
        <div class="sectionInfo">
          <mat-chip-list>
            <mat-chip selected class="totalProduct">
              <span>{{dts.totalProd}}</span> Productos comprados
            </mat-chip>
            <mat-chip selected class="gastoCompra">
              <span>S/. {{dts.gastoCompra | number: '.2-2'}}</span> &nbsp; Gastos por compra
            </mat-chip>
            <mat-chip selected>
              Precio venta S/. {{dts.priceProd | number: '.2-2'}}
            </mat-chip>
            <mat-chip selected class="soldProduct_content">
              Prductos vendidos {{dts.soldProd}}
            </mat-chip>
            <mat-chip selected class="stockProd">
              Stock {{dts.totalProd - dts.soldProd}}
            </mat-chip>
            <mat-chip selected class="money" >
              Ganancia total S/. {{dts.priceProd * dts.soldProd | number: '.2-2'}}
            </mat-chip>
            <mat-chip selected class="miGanancia" >
              Mi ganancia S/. {{(dts.gastoCompra) - (dts.priceProd * dts.soldProd) | number: '.2-2'}}
            </mat-chip>

          </mat-chip-list>
        </div>
        <br> <br>
        <div class="action">
          <button mat-fab color="primary"><mat-icon>edit</mat-icon></button>
          &nbsp;
          <button mat-fab color="accent" ><mat-icon>visibility_off</mat-icon></button>
        </div>
        <br>
      </div>
    </div>
  </div>

</div>

<ng-template #loading>
<div class="spinnerLoading">
  <br> <br>
  <div class="text-center">
    <div class="spinner-border" role="status">
    </div>
  </div>
</div>
</ng-template>
