<nav>
  <div class="container__top">
    <div class="search__content">
      <div class="logo__content title-logo">
        <p>rous</p>
      </div>
      &nbsp;
      <ul class="redeSociales">
        <li><a href="https://www.facebook.com/Novedades-ROUS-108416914722739" target="_blank"> <i
          class="uil uil-facebook-f"></i> </a></li>
        &nbsp;
        <li><a href="" target="_blank"> <i class="uil uil-instagram"></i> </a></li>
      </ul>
      <div  class="search_input">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Buscar...">
      </div>
    </div>
    <div class="call__content">
      <div class="icon_call">
        <mat-icon>call</mat-icon>
      </div>
      <div class="info_phone">
        <span class="title__span">Atención 24/7</span>
        <span class="sub__title">(+51) 929 157 461</span>
      </div>
    </div>
  </div>
</nav>
