<div class="box__wsp">
  <div class="border_Box_chat"  [ngClass]="{open:!wspd, close:wspd}">
    <div class="box__chat" [ngClass]="{open:!wspd, close:wspd}">
      <div class="toolbar__chat">
        <div class="icon__close">
          <button (click)="wspdialgo()" class="return" mat-mini-fab>  <mat-icon>chevron_left</mat-icon> </button>
        </div>
        <div class="photoPerfil">
          <img [src]="photo" alt="">
          <div class="inline"></div>
        </div>
        <div class="nameInfo">Rosmeri Ñope</div>
      </div>
      <div class="content__chat">
        <div class="message">
          <div class="txt"><span>¡Hola! 👋🤚✋, &nbsp; ¿como estas?</span></div>
          <div class="txt"><span>¿cual es tu pregunta ?</span></div>
        </div>
        <div class="messageUse" *ngIf='textoDeInput'>
          <div class="txtUse">
            <span>
              <div class="circle" *ngFor="let i of [1,1,1]">
                <div class="spinner-grow spinner-grow-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </span>
          </div>
        </div>
        <br>
        <br>
        <div class="content_input">
          <textarea [(ngModel)]='textoDeInput'  type="text" autocomplete="off" placeholder="Escribe el mensaje"></textarea>
          <a target="_blank" *ngIf='textoDeInput' href="{{duda}} {{textoDeInput}}" mat-icon-button (click)="mesaje()"><mat-icon>send</mat-icon></a>
        </div>
      </div>
    </div>
  </div>
  <div class="sect-btn">
    <a class="btnWsp" mat-button (click)="wspdialgo()">
        <span class="txtBtnWsp icon">
          <i class="uil uil-whatsapp"></i>
          &nbsp;¿Preguntas? !Escribenos!
        </span>
    </a>
  </div>
</div>
