.mat-form-field {
  width: 100%;
}
.img-preview {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.previewImg {
  background: #E4EBF1;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
  margin: 7px 0 0 0;
}
.browse-box {

}
.container__button {
  display: flex;
  justify-content: flex-end;
  p {
    display: flex;
    width: 100%;
  }
  button {
    width: 100%;
  }
}
.container__button {
  display: flex;
  justify-content: flex-end;
  p {
    display: initial;
    width: auto;
  }
  button {
    width: auto;
  }
}

@media (max-width: 768px) {
  .container__button {
    p {
      display: flex;
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  ::ng-deep {
    .mat-form-field-wrapper {
      //padding-bottom: 0 !important;
    }
  }


}
