/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #272D33;
  user-select: none;
}
body:focus {
  outline-color: transparent;
  outline-style: none;
}

$color-wsp: #00CA65;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
